<a class="nav-link" href="javascript:void(0);" onclick="javascrpt:gteParticipantsCourse('{{Course.numCourse}}')">Course{{Course.getNumCourse()}}</a>

<a class="nav-link" href="#">Course{{Course.getNumCourse()}}



<div class="container-fluid">
      <div class="row" id="fixed">
        <nav class="bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Liste des Courses <span class="sr-only">(current)</span></a>
            </li>
            {% for Course in Courses %} 
            <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" onclick="javascrpt:gteParticipantsCourse('{{Course.getNumCourse()}}')">Course{{Course.getNumCourse()}}</a>
            </li>
            {% endfor %}
          </ul>
    </div>
</div>
<div class="list-participes">

</div>
    <script>
      function gteParticipantsCourse(numCourse){
        $.get('{{path("participant_course")}}', {'numCourse':numCourse}, function(data){
        $('.list-participes').html(data);     
        });  
        }
    </script>


    {% block javascripts %} 
   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
   
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#loadstudent").on("click", function(event){  
            $.ajax({  
               url:        '/det',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  
                  var e = $('<tr><th>Name</th><th>Address</th></tr>');  
                  $('#student').html('');  
                  $('#student').append(e);  
                  
                  for(i = 0; i < data.length; i++) {  
                     student = data[i];  
                     var e = $('<tr><td id = "name"></td><td id = "address"></td></tr>');
                     
                     $('#name', e).html(student['numCourse']);  
                     $('#address', e).html(student['libCourse']);  
                     $('#student').append(e);  
                  }  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
         });  
      });  
   </script> 
{% endblock %}  

{% block stylesheets %} 
   <style> 
      .table { border-collapse: collapse; } 
      .table th, td { 
         border-bottom: 1px solid #ddd; 
         width: 250px; 
         text-align: left; 
         align: left; 
      } 
   </style> 
{% endblock %} 

{% block body %} 
   <a id = "loadstudent" href = "#">Load student information</a>  
   </br> 
   </br>  
   
   <table class = "table">  
      <tbody id = "student"></tbody>  
   </table> 



   $em = $this->getDoctrine()->getManager();
        $C = $em->getRepository('AppBundle:Coureur')->findOneBy(array(
            'numCoureur'=>$numCoureur));
        $em->remove($C);
        $em->flush();

        $this->addFlash(
            'notice',
            'Coureur Supprime'
            );

        return $this->redirectToRoute('home');
